In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/KOPro/PhD/DataCollection/Datasets/NewsCited/Consolidated/SupTweets.csv", usecols=['id','in_reply_to_status_id'], dtype='str')
len(df)

2493070

In [4]:
df = df[df.in_reply_to_status_id == '1191062762807537665']

In [5]:
len(df)

897

In [6]:
df.head(10)

                         id in_reply_to_status_id
752008  1192824218087542784   1191062762807537665
752009  1192746113025138688   1191062762807537665
752010  1192710546937851904   1191062762807537665
752011  1192665208856158213   1191062762807537665
752012  1192642939328925696   1191062762807537665
752013  1192607489583247361   1191062762807537665
752014  1192561419050504192   1191062762807537665
752015  1192520090517786624   1191062762807537665
752016  1192483838871650304   1191062762807537665
752017  1192479711370321920   1191062762807537665